#main {
	opacity: 1 !important;
	right: 0 !important;
}

body:before {
	content: 'Javascript is disabled :(';
	display: block;
	position: absolute;
	top: 50%;
	width: calc(100% - 22.5em * 0.333333333);
	height: 4em;
	margin-top: -2em;
	color: #282828;
	cursor: default;
	font-size: 3em;
	line-height: 4em;
	text-align: center;
	white-space: nowrap;
	left: 0;
}